<!DOCTYPE html>
<html>
<head>
  <%= image_tag 'railbook.png' %>
  <ul>
     <li><%= link_to '書籍一覧', books_path %></li>
     <li><%= link_to '出版社一覧', publishes_path %></li>
  </ul>
</head>
<body>

<%= yield %>

</body>
</html>
